<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <title>Battery Monitoring</title>
</head>
<body>  
    <main>
      <div class="cards">
        <div class="card-single">
          <div>
            <h1>{{ Battery.batt_1}}%</h1>
            <span>Baterai 1</span>
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>{{ Battery.batt_2 }}%</h1>
            <span>Baterai 2</span>
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>{{ Battery.batt_3 }}%</h1>
            <span>Baterai 3</span>
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>{{ Battery.batt_4 }}%</h1>
            <span>Baterai 4</span>
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>{{ Battery.batt_5 }}%</h1>
            <span>Baterai 5</span>
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h1>{{ Battery.batt_6 }}%</h1>
            <span>Baterai 6</span>
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
      </div>
    </main>
</body>
</html>